.action-area-content {
    display: flex;
    flex-direction: column;

    .action-area-content--header {
        margin: 20px 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }
    
    .action-area-content--body {
        overflow-y: auto;
    }
}
