@use '../../styles/layout' as layout;

.action-area-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    gap: 4px;

    @media (max-width: layout.$action-area-menu-at-bottom) {
        flex-direction: row;
        padding: 8px 12px;
    }
}