@use '../../styles/colors' as colors;

$action-area-border: #e0e0e0;
$action-area-shadow: transparentize(colors.$black, 0.85);

$action-area-menu-bg: transparentize(colors.$grayE, 0.3);
$action-area-content-bg: transparentize(colors.$white, 0.15);

.action-area {
    margin: 20px;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    border: 1px solid $action-area-border;
    box-shadow: 1px 2px 6px 1px $action-area-shadow;
    backdrop-filter: blur(4px);

    .action-area--content {
        flex-grow: 1;
        background: $action-area-content-bg;
        border-right: 1px solid colors.$grayE;
    }

    .action-area--menu {
        background: $action-area-menu-bg;
    }
}