@use '../../styles/colors' as colors;

$backdrop-color: transparentize(colors.$black, 0.75);

.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    z-index: 10000;
}