@use '../../styles/colors' as colors;

$poi-list-item-hover-bg: transparentize(colors.$black, 0.95);
$poi-list-item-active-bg: transparentize(colors.$blue-900, 0.85);
$poi-list-item-coords-color: transparentize(colors.$black, 0.35);

.poi-list-item--button {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
    appearance: none;
    padding: 8px 16px;
    border: none;
    background-color: transparent;

    cursor: pointer;
    font: inherit;
    text-align: left;
    transition: background-color 0.3s;

    &:hover {
        background-color: $poi-list-item-hover-bg;
    }
    &:active {
        background-color: $poi-list-item-active-bg;
    }

    .poi-list-item--title {
        font-size: 1.2em;
        font-weight: 500;
    }

    .poi-list-item--title__notitle {
        color: $poi-list-item-coords-color;
        font-style: italic;
    }

    .poi-list-item--location {
        font-size: 0.8em;
        font-weight: 400;
        color: $poi-list-item-coords-color;
    }

    .poi-list-item--location-icon {
        margin-right: 0.5em;
    }
}