@use '../../styles/colors' as colors;

$poi-list-empty-color: transparentize(colors.$black, 0.35);

.poi-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.poi-list--empty {
    text-align: center;
    font-size: 0.9em;
    padding: 16px 32px;
    color: $poi-list-empty-color;

    p {
        margin: 0;
    }

    p + p {
        margin-top: 0.5em;
    }
}