/**
 * Makes the child fill this element completely.
 */
@mixin stretch-contents {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

// Media breakpoints
$action-area-menu-at-bottom: 860px;
$action-area-menu-not-full-height: 650px;
$action-area-full-width: 450px;