@use '../../styles/layout' as layout;

.home-page--container {
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-template-rows: 100%;

    .home-page--map-box {
        grid-row: 1;
        grid-column: 1 / span 2;

        @include layout.stretch-contents;
    }

    .home-page--action-area {
        grid-row: 1;
        grid-column: 2;
        z-index: 1000; // To show it over the map

        @include layout.stretch-contents;
    }
}