@use '../../styles/colors' as colors;

.home-page--container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    .home-page--map-box {
        flex-grow: 1;
        border-right: 1px solid colors.$blue-100;
    }

    .home-page--poi-list-box {
        width: 400px;
    }
}