.photopos-container {
    padding: 16px;
    background-color: #f8f8f8;

    .photopos-header {
        padding: 8px;
    }

    .photopos-content {
        border-radius: 20px;
        background-color: #fff;
    }
}